<li>
    <div class="listed-burger">
        <div class="burger-id">
            {{id}}.)
        </div>
        <div class="burger-name">
            {{burger_name}}
            {{#if eaten}}
            <button class="delete" data-id="{{id}}">Delete</button>
            {{else}}
            <button class="devour" data-id="{{id}}">Devour it!</button>
            {{/if}}
        </div>

    </div>

</li>